.box{
    border: 1px black solid;
    width: 30px;
    height: 30px;
}

.battlefield {
    display: flex;
}
.battlefieldCol {
    display: flex;
    flex-direction: column;
}

.battlefields{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
} 

.box{
    background-color: #062640;
}
.ship{
    background-color: #5C9BA3;
}

.guessed{
    background-color: #335477;
    border: 1px white solid;
}
.hit{
    background-color: red;
}